@* @model IEnumerable<Employee> *@
@model EmpCourseDataModel

    <div  class="col-6">
    <a asp-action="Create" asp-controller="Employee" class="btn btn-primary p-1">Create Employee</a>

    </div>
    <table class="table table-bordered">
        <tr>

            <th>
                @Html.DisplayNameFor(m => m.Employees.SingleOrDefault()!.Name)
            </th>
        <th>
            @Html.DisplayNameFor(m => m.Employees.SingleOrDefault()!.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Employees.SingleOrDefault()!.Department.DepartmentName)
        </th>
        <th>
            Operations
        </th>
        </tr>

        @foreach (var emp in Model.Employees)
    {
      <tr>
          <td>
              @emp.Name
          </td>
            <td>
                @emp.Salary
            </td>
            <td>
                @emp.Department.DepartmentName
            </td>
            <td>
            <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@emp.EmployeeId">
                More
            </a>

            <a asp-action="Edit" class="btn btn-outline-worning" asp-route-id="@emp.EmployeeId">
                Edit
            </a>

            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@emp.EmployeeId">
                Delete
            </a>
            </td>
      </tr>  
    }
    </table>

<div class="col-6">
    <a asp-action="Create" asp-controller="Course" class="btn btn-primary p-1">Create Employee</a>

</div>
<table class="table table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(m => m.Courses.SingleOrDefault()!.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Courses.SingleOrDefault()!.Period)
        </th>
        <th>
            Operations
        </th>
    </tr>

    @foreach (var emp in Model.Courses)
    {
        <tr>
            <td>
                @emp.CourseName
            </td>
            <td>
                @emp.CourseName
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@emp.CourseId">
                    More
                </a>

                <a asp-action="Edit" class="btn btn-outline-worning" asp-route-id="@emp.CourseId">
                    Edit
                </a>

                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@emp.CourseId">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>


<div class="col-6">
   

</div>
<table class="table table-bordered">
    <tr>

        <th>
           Student Name
        </th>
        <th>
           City
        </th>
        <th>
            Operations
        </th>
    </tr>

    @foreach (var stu in ViewBag.stu)
    {
        <tr>
            <td>
                @stu.StudentName
            </td>
            <td>
                @stu.City
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@stu.StudentId">
                    More
                </a>

                <a asp-action="Edit" class="btn btn-outline-worning" asp-route-id="@stu.StudentId">
                    Edit
                </a>

                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@stu.StudentId">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>


